.news
  display: grid
  grid-template-columns: repeat(1, 1fr)
  grid-row-gap: 40px

  &__item
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-column-gap: 15px
    border-radius: 10px
    height: 450px

  &__image
    overflow: hidden
    display: flex
    justify-content: center
    border-radius: 10px

    img
      object-fit: cover
      min-height: 100%
      width: 100%

  &__info
    background: #fff
    border-radius: 10px
    padding: 5% 10% 5% 10%
    display: flex
    flex-direction: column
    justify-content: space-between

    button
      width: fit-content
      color: #fff
      background: #00B3DD
      padding: 5px 15px
      border: none
      border-radius: 5px
      font-size: 14px
      font-weight: medium
      box-shadow: inset -2px -2px 0px rgba(0, 0, 0, 0.25)
      cursor: pointer
      text-transform: uppercase

  &__text
    h2
      text-transform: uppercase
      font-size: 24px
      color: #434343

    p
      font-size: 16px
      line-height: 19px
      color: #434343
      margin-top: 25px
      text-indent: 30px
      text-align: justify

@media (max-width: 768px)
  .news
    &__item
      grid-template-columns: repeat(1, 1fr)
      grid-row-gap: 8px
      height: auto

    &__image, &__info
      height: 300px

    &__text
      h2
        font-size: 20px

      p
        font-size: 14px
        line-height: 16px
        margin-top: 20px
        text-indent: 20px

@media (max-width: 450px)
  .news
    &__image, &__info
      height: 250px

    &__text
      h2
        font-size: 16px

      p
        font-size: 12px
        line-height: 14px
        margin-top: 15px
        text-indent: 15px