.main
  display: grid
  grid-column-gap: 30px
  height: 75vh
  grid-template-columns: repeat(6, 1fr)

  &__banners
    grid-column-start: 1
    grid-column-end: 5
    display: grid
    grid-template-columns: repeat(2, 1fr)
    height: inherit

  &__products
    display: flex
    grid-column-start: 5
    grid-column-end: 7
    flex-direction: column
    height: inherit

    &_btn
      width: 100%
      background: #6DB4D0
      box-shadow: inset -4px -4px 0px rgba(0, 0, 0, 0.25)
      border-radius: 10px
      padding: 10px 46px
      color: #fff
      font-size: 16px
      text-transform: uppercase
      border: none
      margin-top: 50px
      cursor: pointer


    &_h3
      font-size: 20px
      text-align: center
      text-transform: uppercase

    &_wrapper
      display: grid
      grid-template-columns: repeat(2, 1fr)
      grid-template-rows: repeat(3, calc(32% + 3px))
      grid-column-gap: 10px
      grid-row-gap: 10px
      padding: 10px 0
      height: calc(100% - 30px)

@media (max-width: 1440px)
  .main
    &__banners
      grid-template-columns: repeat(6, 1fr)

@media (max-width: 1024px)
  .main
    display: flex
    flex-direction: column

    &__products
      margin-top: 20px