.main
  display: grid
  grid-column-gap: 30px
  height: 75vh
  grid-template-columns: repeat(6, 1fr)

  &__banners
    grid-column-start: 1
    grid-column-end: 5
    display: grid
    grid-template-columns: repeat(2, 1fr)
    height: inherit

  &__products
    display: flex
    grid-column-start: 5
    grid-column-end: 7
    flex-direction: column
    height: inherit

    &_h3
      font-size: 20px
      text-align: center
      text-transform: uppercase

    &_wrapper
      display: grid
      grid-template-columns: repeat(2, 1fr)
      grid-template-rows: repeat(3, calc(32% + 3px))
      grid-column-gap: 10px
      grid-row-gap: 10px
      padding: 10px 0
      height: calc(100% - 30px)

@media (max-width: 1440px)
  .main
    &__banners
      grid-template-columns: repeat(6, 1fr)