.tickets
  margin-top: 20px
  &__header
    width: 100%
    background: #6DB4D0
    display: flex
    justify-content: center
    padding: 25px 0
    border-radius: 10px

  &__h1
    font-size: 32px
    text-transform: uppercase
    color: #ffffff

  &__content
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-column-gap: 40px
    grid-row-gap: 40px
    margin-top: 40px